@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@1,300&display=swap');

.App {
  text-align: center;
}

body {
  background-image: url('https://www.nasa.gov/sites/all/themes/custom/nasatwo/images/starfield-banner.jpg');
}
p {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 25px;
  width: 70%;
  margin: 0 auto;
  text-align: left;
  padding: 2%;
  color: white;
}

h1,
h2 {
  font-family: 'Open Sans Condensed', sans-serif;
  color: white;
}

img {
  width: 70%;
  height: 70vh;
}

.cal {
  margin: 0% auto;
  background-color: white;
}

#like {
  display: flex;
  justify-content: center;
  width: 32%;
  padding: 0.5%;
}

#like {
  color: white;
}
